.calc-main {
    width: 30%;
    height: 450px;
}

.result-row {
    height: 100px;
    border: 2px solid black;
    align-items: center;
    display: flex;
    justify-content: right;
}

.numpad {
    display: grid;
    height: 350px;
    gap: 15px;
    grid-auto-columns: 31%;
    grid-template-areas: " a a a";
    width: 100%;
}

#result-window {
    margin: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}